.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
 
  }

  .mockup-phone {
    grid-column: 1 / 2;

    height:80%;
  
    padding: 20px;
    border-radius:20px;
    position: absolute;
    bottom:8%;
    right:60%;


  }