.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-left: 20px;

}
.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    width: 50%;
    position: relative;
    left:15%
    

}
  


.nav-menu a {
    text-decoration: none;
    color: #633cff;
    font-size: 15px;
    font-weight: 500;
}
.hamburger-menu {
    display: none;
}

  .logout-link {
    border: 2px solid #633cff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 0px 15px; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #fff; 
    position: relative;
    left: -1%;
    transition: all 0.3s ease; 
  }
.logout-link a {
    text-decoration: none;
    color: #633cff;
    font-weight: 500;
  }
 
  .prev-link {
    border: 2px solid #633cff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 0px 15px; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #fff; 

    transition: all 0.3s ease; 
}

.prev-link:hover {
    background-color: #633cff; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

